<!DOCTYPE html>

<html>
    <head>
        <title>Pipelines</title>
    </head>
    <body>
        {{.}}
        {{. | dbl}}
        {{. | dbl | sqr}}
        {{. | dbl | sqr | sqrt}}
    </body>
<html>