<!DOCTYPE html>
<html>
	<head>
		<title>Hello world!</title>
	</head>
	<body>
        <ul>
            {{range .}}
            <li>{{.Name}}: {{.Motto}} </li>
            {{end}}
        </ul>
    </body>
</html>