<!DOCTYPE html>

<html>
    <head>
        <title>Predefined global funcs</title>
    </head>

    <body>
        {{.}}
        {{index .Words 2}}
        {{index .Words 0}}
        {{index .Words 1}}
    </body>
</html>